@import '../../../styles/variables.scss';


.orderPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .leftSection,
  .rightSection,
  .centeredSection {
    flex: 1;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center; 
    margin: 0 15px;
  }
  
  .centeredSection {
    align-items: center;
    flex-direction: column;
  }
  
  .bthv:hover {
    background-color: $buttonsHover !important;
    border: $buttonsHover !important;
  }
  
  .underlinedTop {
    border-top: solid 1px $text;
  }

  .underlinedBottom {
    border-bottom: solid 1px $text;
  }

  @media (max-width: 768px) {
    .orderPage {
      flex-direction: column; /* Zmień układ na kolumnowy */
    }
  
    .leftSection,
    .rightSection {
      margin: 0; /* Usuń margines */
    }
  }